.card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    background: white;
    width: 20%;
}
a:-webkit-any-link 
{
    text-decoration: none !important;
    color: black;
}

h3
{
    color: black;
    margin-bottom: 5px;
    
}
p {
    color: black;
    margin-bottom: 2px;
    line-height: 1.5;
    text-align: start;
}

strong {
    color: black;
}
.logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.team-logo
{
    width: 65px;
    height: 70px;
}
.vs {
    font-size: 20px; 
    padding: 0 10px;  
    font-family: "Poppins", sans-serif;
}

