@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
  background-color: #19204e;
  margin: 0;
  padding: 0; 
}

h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  color: #fcb300;
  margin: 2% 5%;
  text-align: center;
}

.tickets-page {
  background-color: #19204e;
  font-family: "Poppins", sans-serif;
  position: relative;

}

.tickets-view {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px;
    width: 100%;

}
  

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;

}

.header-buttons {
  display: flex;
  gap: 10px;
}
