@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body{
    background-color: #19204e;
  
}
h1
{
    color: white;
    font-family: "Poppins", sans-serif;
    color:#fcb300;
    margin: 50px 50px 50px 50px;
    text-align: center;
    
}
.matches-page {
    background-color: #19204e;
    font-family: "Poppins", sans-serif;
}
.matches-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(900px, 1fr)); 
    gap: 20px; 
    
  }
  