@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
  background-color: #19204e;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #fcb300;
}

.matches-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #19204e;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.matches-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  gap: 20px;
  width: 100%;
}

.add-match-button, .add-stadium-button {
  margin-bottom: 10px;
}
.btn
{
  margin-left: 20px !important;
}
